@font-face {
    font-family: "Syne";
    src: url(fonts/Syne-SemiBold.ttf);
}

@font-face {
    font-family: "Montserrat";
    src: url(fonts/Montserrat-Medium.ttf);
}


body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 0 0 0;
    height: 100vh;
}

header h1{
    font-family: "Syne";
}

header{
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
}

.selection-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}

.selection-row {
    display: flex;
    gap: 10%;
}

.selection-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 150px;
    background-color: lightgray;
    border-radius: 1.5vw;
    margin-bottom: 10%;
}

.selection-button a {
    color: black;
    text-decoration: none;
    font-family: "Montserrat";
    transition: transform .25s ease, color .25s ease;
}

.selection-button a:hover{
    transform: scale(1.1);
    color: gray;
}